<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<ul class="nav justify-content-end">
  <li class="nav-item">
<a th:href="@{/}">Home</a>  </li>
  <li class="nav-item">
<a th:href="@{/transfer}">Transfer</a>  </li>
  <li class="nav-item">
<a th:href="@{/profile}">Profile</a>  </li>
  <li class="nav-item">
<a th:href="@{/logout}">Logout</a>  </li>
</ul>
<!-- 	<nav th:fragment="barre"> -->
<!-- 		<div id="navbar"> -->
	
<!-- 		<img th:src="@{/src/main/resources/paymybuddy.png}" alt="logo"/> -->
<!-- 			<a href="#" class="brand-logo">	<img src="paymybuddy.png" /></a> -->
			
			
<!-- 			  <nav class="navbar navbar-right navbar-expand-md navbar-dark fixed-top bg-dark"> -->
<!-- 			<ul class="nav justify-content-end"> -->
			
<!-- 				<li><a th:href="@{/}">Home</a></li> -->
<!-- 				<li><a th:href="@{/transfer}">Transfer</a></li> -->
<!-- 				<li><a th:href="@{/profile}">Profile</a></li> -->
<!-- 				<li><a th:href="@{/addmsg}">Contact</a></li> -->
<!-- 				<li><a th:href="@{/logout}">Logout</a></li> -->
<!-- 			</ul> -->
<!-- 				</nav> -->
			
<!-- 		<table class="navbar navbar-right navbar-expand-md navbar-dark fixed-top bg-dark"> -->
<!-- 			<tr> -->
<!-- 				<td><a th:href="@{/}">Home</a></td> -->
<!-- 				<td><a th:href="@{/transfer}">Transfer</a></td> -->
<!-- 				<td><a th:href="@{/profile}">Profile</a></td> -->
<!-- 				<td><a th:href="@{/addmsg}">Contact</a></td> -->
<!-- 				<td><a th:href="@{/logoff}">Log Off</a></td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
<!-- 	</nav> -->

</body>
</html>
